html {
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    color: #0a0a23;
  }



span[class~="sr-only"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    position: absolute !important;
    padding: 0 !important;
    margin: -1px !important;
  }

h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
  }

h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

h1 .flex span:first-of-type {
    font-size: 0.7em;
  }

h1 .flex span:last-of-type {
    font-size: 1.2em;
  }
  
section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5
  }

#years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    color: #fff;
    background-color: #0a0a23;
    margin: 0  -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
    z-index: 999;
    
  }

 /*
The span[class] syntax will target any span element that 
has a class attribute set, regardless of the attribute's value.
 */
 #years span[class] {
    font-weight: bold;
    width: 4.5rem;
    text-align: right;
  }

.table-wrap {
    padding: 0 0.75rem 1.5rem 0.75rem
    }

/*
###NOTES
The :not() pseudo-selector is used to target all elements that 
do not match the selector - in this case, 
any span elements that do not have the sr-only class

since !important keyword has been used in .sr-only class,
:not(.sr-only) can be removed 
*/
span:not(.sr-only) {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    margin-top: 3rem;
    position: relative;
    
  }

  table caption {
    color: #356eaf;
    font-size: 1.3em;
    font-weight: normal;
    position: absolute;
    top: -2.25rem;
    left: 0.5rem;
  }

  tbody td {
    width: 100vw;
    max-width: 4rem;
    min-width: 4rem;
  }

  tbody th {
    
    width: calc(100% - 12rem);
  }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
  /*
The [attribute="value"] selector targets any element that has 
an attribute with a specific value.
*/

tr[class="total"] {
  font-weight: bold;
  border-bottom: 4px double #0a0a23;
}

tr[class="total"] th {
  text-align: left;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

/*
The key difference between tr[class="total"] and tr.total is that 
the first will select tr elements where the only class is total. 
The second will select tr elements where the class includes total.
*/
tr.total td {
  text-align: right;
  padding: 0 0.25rem;
}
/*
The :nth-of-type() pseudo-selector is used to target specific elements 
based on their order among siblings of the same type. This 
pseudo-selector was used to target the third td element within the total 
table rows. It was given a right padding of 0.5rem
*/
tr.total td:nth-of-type(3) {
  padding: 0 0.5rem;
}

tr.total:hover {
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

/*
The th element within the tr.data elements were selected. 
The text was then aligned to the left, and given a 
top padding of 0.3rem and a left padding of 0.5rem.
*/
tr.data th{
  text-align: left;
  padding: 0.3rem 0.5rem;
}

/*
A tr.data th .description selector was created to target the 
elements with the class set to description that are within the 
th elements in the .data table rows. 
A block display was given, the text was made italic with a normal weight, and position them with a 
padding set to 1rem 0 0.75rem and a right margin of -13.5rem.
*/
tr.data th .description {
  
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}
/*
The dollar amounts are currently misaligned. To align them, a selector was 
created to target the td elements within the tr.data elements. 
The text were vertically and horizontally aligned to the top and right, 
respectively and the padding was set to 0.3rem 0.25rem 0.
*/
tr.data td {
  vertical-align: top;
  text-align: right;
  padding: 0.3rem 0.25rem 0;
}
/*
Another selector was created for the td elements within the tr.data element, 
but specifically the last one was selected. 
A right padding of 0.5rem was given to it.
*/

tr.data td:last-of-type {
  padding-right: 0.5rem;
}